h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__headings;
	line-height: 1.2;
	font-weight: 700;
}


.entry-title {
	font-size: 1.5em;
	@media screen and (min-width: $break__small) {
		font-size: 2em;
	}
	
}
