.widget-area {
    margin-top: 1.5em;
}

.widget {
    margin: 0 0 2em;
    padding: 0;
    border: 3px solid $color__text-screen;
    @include borde(.5em);
    .widget-title {
	padding: .5em 1em;
	border-bottom: 3px solid $color__text-screen;
	margin: 0;
	font-size: 1.2em;
    }
    >div {
	padding: 1em;
    }
    ul,
    ol {
        padding: .7em 1em;
        margin: 0;
        list-style-type: none;

        li {
            display: block;
            line-height: 2em;

            ul,
            ol {
                margin-left: .5em;

                @media screen and (min-width: 30em) {
                    margin-left: 1em;
                }
            }

        }
    }

    a {
        font-weight: 600;
        text-decoration: none;

        &:hover,
            &:focus {
            border-bottom: 3px solid $color__interactive;
        }
    }

    /* Make sure select elements fit in widgets. */
    select {
        width: 100%;
        height: 2.5em;
        padding: 10px;
        font-family: $font__main;
        border: 1px solid #ccc;
    }


}

/* Archive and Categories widgets */
.widget_archive li {
    color: #7D7D7D;
}

.widget_categories .children {
    padding-top: 0;
}

/* Search widget. */
.widget_search .search-submit {
    display: none;
}
.widget_search{
    @extend li.flexieduca-search;
    width: 100%;
    //background: $color__interactive;
    padding: 1em;
    color: #777;

}

/* Pages and Menu widgets */
.widget_pages .children,
.widget_nav_menu .sub-menu {
    padding-top: 0;
    padding-bottom: .5em;
}

.widget_pages,
.widget_nav_menu {

    a {
        display: block;
        padding: 1em 0;
        text-decoration: none;
        border-bottom: 1px dashed hsl(0, 0%, 50%);

        &:hover,
            &:focus {
            text-decoration: none;
            border-bottom: 1px dashed hsl(0, 0%, 50%);
        }
    }

    li {
        padding: 0;

    }

}


/* Meta widget */
.widget_meta li {
    padding: 0;
}

/* Recent comments */
.widget_recent_comments {

    li {
        line-height: 1.3em;
        padding-bottom: .5em;
    }

    a:hover,
        a:focus {
        padding-left: 0;
    }

}

/* RSS widget */
.widget_rss li {
    margin-bottom: 1em;
}
.widget li a.rsswidget {
    padding-right: .5em;
    font-size: 1em;
    line-height: 1.4em;
}

.rss-date,
.widget_rss cite {
    color: #333;
    font-size: .8em;
}

.rssSummary {
    padding: .5em 0;
    font-family: $font__headings;
    font-size: .8em;
    line-height: 1.4em;
}

/* Search widget */
.widget_search input[type="search"] {
    width: 100%;

}

/* Calendar widget */
.widget_calendar {
    font-weight: 400;

    caption {
        padding: .5em 0;
        font-size: 1em;
        font-weight: 500;
        text-align: left;
    }

    thead {
        background: transparent;
        color: black;

        th {
            border-bottom-width: 2px;
        }
    }

    td {
        padding: .2em;
        font-size: .8em;
        text-align: center;
        background: white;
        border: 1px solid hsl(0, 0%, 80%);
    }

    th {
        border: none;
        text-align: center;
    }

    .pad {
        background: #eaeaea;
    }

    a {
        font-weight: 900;
        text-decoration: none;
    }

}

/* Text widget */
.textwidget {
    font-size: 80%;
    line-height: 1.3em;
}

/*------------------------------------------
** Estilos para la search bar
------------------------------------------*/

li.flexieduca-search{
    padding: 0;
    width: 100%;
    flex: 0 1 auto;
}
.widget_search {
	border: none;
}
.search-form{

    position: relative;

    &:after{
        content: "";
        @include vector-bg-with-fallback(lupa);
        width: 20px; height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
        position: absolute;
        top: calc(50% - 10px);
        right: 1em;
        z-index: 1;
        line-height: 2;
        font-size: 100%;
    }

    label{
        height: 40px;
        width: 80%;
        flex-grow: 1;
        position: relative;
        color: #C1B9A0;
    }
    .search-field{
        width: 100%;
        height: 40px;
        border: 0 none;
        flex-grow: 1;
        outline: 0;
        border: 2px solid #A39C87;
        @include borde(4px);
        padding-right: 3em;
        padding-left: 1em;
        -webkit-appearance: none;
        background: $color__sombreado;
        font-family: $font__main;
        font-size: 95%;
        font-weight: 400;
        color: #A39C87;

        -webkit-transition: all .5s;
        transition: all .5s;

        &:focus{
            width: 100%;
            outline-color: $color__skin;
            font-style: normal;
			border: 1px solid #C1B9A0;
            background: #fff;
            color: #333;
        }
        &::-webkit-input-placeholder {
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            color: #A39C87;
        }
        &:-moz-placeholder {
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            color: #A39C87;
        }
        &:-ms-input-placeholder {
            color: $color__skin;
            outline: 0;
            border: 0 none;
            font-weight: normal;
            font-style: italic;
            color: #A39C87;
        } 


    }


    .search-submit{
        display: none;
    }
}

//sidebar inferior para menu secundario
aside.menu-social {
    background-color: $color__sombreado;
    max-width: 100vw;
    max-height: 500px;
    margin-left: -1em;
	margin-right: -1em;
	padding: 2em 1em;
	font-family: $font__headings;
	font-size: .9em;
	line-height: 1.2;
	

	@media screen and (min-width: $break__hd) { //hacer esta seccion 100% de la ventana
		padding: 3em 2em;
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		
	}
	.aside-in {
		max-width: $max__size;
		@include center-block;
		
		.widget {
			padding: 0;
			border: 0;
			>div {
				padding: 0;
			}
			.widget-title {
				padding: .25em 0;
				margin: 0;
				font-size: 1.2em;
			}
			
			ul {
				padding: 0;
				margin: 0;
				list-style-position: outside;
				li {
					line-height: 1.5;
					margin: .5em 0;
					.post-date {
						font-size: 80%;
						color: #8e8574;
						font-style: italic;
						&:before {
							content: "-";
						}
					}
				}
				a {
					border: none;
					font-weight: 300;
					
				}
				li.facebook a {
					background: #4A90E2;
					border-color: #2F69AD;
					@include borde(4px);
					@include vector-bg-with-fallback(Facebook);
					background-position: .5em center;
					padding: .5em .75em .5em 2.5em;
					color: white;
					letter-spacing: 1px;
				}
			}
		}
		
		@media screen and (min-width: $break__small) {
			@include flex-container;
			justify-content: space-between;
			
			.widget {
				width: 30%;
				margin-bottom: 0;
				
			}
		}
		
		
		
	}
}