/*
* Theme: Flexieduca
* Editor styles for TinyMCE
*/

html {
    padding: 0 2em;
}

body {
    max-width: 1080px;
    margin: 0 auto;
    color: black;
    background-color: white;
}

body,
button,
input,
select,
optgroup,
textarea {
    font-family: Helvetica, Arial, sans-serif;
}

@media screen and (min-width: 600px) {
    body,
    button,
    input,
    select,
    optgroup,
    textarea {
        font-size: 20px;
        font-size: 1.25rem;
    }
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: "Rubik", sans-serif;
    line-height: 1.2;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
	margin: 2em 0;
	position: relative;
	border-radius: 0.2em;
	padding-left: 40px;
	font-size: 1.25em;
	font-weight: 300;
	line-height: 1.55;
}

blockquote:before {
	content: "\0201F";
	left: -12px;
	top: -10px;
	position: absolute;
	font-size: 100px;
	font-weight: 700;
	line-height: 1;
	color: #DDBE59;
}

blockquote p:last-child {
	margin-bottom: 0;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 18.75px;
    font-size: 1.17188rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 18.75px;
    font-size: 1.17188rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

audio {
    z-index: -1;
}

/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #404040;
    text-decoration: none;
}

a:visited {
    color: purple;
}

a:hover, a:focus, a:active {
    color: midnightblue;
    border-bottom: 3px solid midnightblue;
}

a:focus {
    outline: thin dotted;
}

a:hover, a:active {
    outline: 0;
}


.formato-actividad,
.formato-importante,
.formato-mirada,
.formato-ejercicio,
.formato-idea,
.formato-recuadro,
.comentario-inicial {
	padding: 1em 2em 1.2em 100px;
	margin: .5em -1em 2em;
	height: auto;
	background-position: 1.25em 1.75em;
	background-size: 60px;
	background-color: #F1EEE5;
	font-size: .89em;
	border-top: none;
	border-bottom: none;
	position: relative;
}

@media screen and (min-width: 900px) {
	.formato-actividad,
	.formato-importante,
	.formato-mirada,
	.formato-ejercicio,
	.formato-idea,
	.formato-recuadro,
	.comentario-inicial {
		padding-left: 140px;
		margin: 2em 0;
		font-size: .96em;
		line-height: 1.45;
		background-size: 80px;
		border: 3px solid #393A38;
		background-color: #F1EEE5;
		border-radius: 4px;
	}
}

.formato-recuadro {
	padding: 1em 2em 1.2em;
}

.formato-actividad {
	background-image: url("./img/actividad_virtual.png");
	background-image: none, url("./img/actividad_virtual.svg");
	background-repeat: no-repeat;
}

.formato-mirada {
	background-image: url("../img/mirada.png");
	background-image: none, url("./img/mirada.svg");
	background-repeat: no-repeat;
}

.formato-importante {
	background-image: url("../img/importante.png");
	background-image: none, url("./img/importante.svg");
	background-repeat: no-repeat;
}

.formato-ejercicio {
	background-image: url("../img/ejercicio.png");
	background-image: none, url("./img/ejercicio.svg");
	background-repeat: no-repeat;
}

.formato-idea {
	background-image: url("../img/idea.png");
	background-image: none, url("./img/idea.svg");
	background-repeat: no-repeat;
}

.comentario-inicial {
	background-image: url("../img/avatar_comentario.png");
	background-image: none, url("../img/avatar_comentario.svg");
	background-repeat: no-repeat;
	background-color: white;
}

@media screen and (min-width: 900px) {
	.comentario-inicial {
		background-size: 100px;
	}
}

.fuente-apa {
	font-size: .9em;
	line-height: 1.7;
	margin-left: 2em;
	text-indent: -2em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 2px dashed #f4f4f4;
}

.fuente-apa a {
	word-break: break-all;
	word-wrap: break-word;
	border: none;
	text-decoration: underline;
}

@media print {
	.fuente-apa {
		margin-left: .5in;
		text-indent: -.5in;
		margin-top: 1em;
		margin-bottom: 1em;
	}
}
