$color__background-body: #F6F6F6;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #ccc;

$color__text-screen: #333;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: currentcolor;
$color__link-hover: midnightblue;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__interactive: #D96C70;
$color__skin: #DDBE59;
$color__sombreado: #F1EEE5;
$color__borde-recuadro: #393A38;

$color__link-invert: #F1E3E3;
