$size__site-main: 100%;
//$size__site-sidebar: 25%;

$break__small: 600px;
$break__medium: 900px;
$break__hd: 1400px;

$size__ratio-large: 60%;
$size__ratio-small: 30%;

$max__size: 1200px;

$max__column-size: 780px;
