.main-navigation {
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    font-size: .8em;
    z-index: 99;

    button {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
        background: none;
        border: none;
        font-size: .77em;
        text-rendering: geometricPrecision;
        text-align: center;
    }

    ul.menu {
        //position: absolute;
        //top: 80px;
        margin-top: 1px;
        background: white;
        width: 90vw;
        max-width: 320px;
        height: 100vh;
        padding: 1em 0 80px;
        overflow-y: auto;
        border-right: 1px solid #ccc;
        box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.32);
        
        &::-webkit-scrollbar {
		    width: .5em;
		}
		 
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: darkgrey;
		  outline: 1px solid slategrey;
		}
        
        // stick menu to the top
		&.fixed {
		    top: 0;
		    position: fixed;
		    z-index: 999;
		}
    }	

    ul {

        display: none; //hide menu on load
        list-style: disc;
        margin: 0;
        padding-left: 0;


        ul { //submenus
             position: relative;
             top: 100%;
             z-index: 99999;

             ul { //submenu 2

                  top: 100%;
             }

             li {
                 padding-left: 1em!important;

                 &:hover > ul,
                     &.focus > ul {

                 }
             }

             a {
                 //width: 200px;
             }

             :hover > a,
                 .focus > a {
             }

             a:hover,
                 a.focus {
             }
        }

        li:hover > ul,
            li.focus > ul {

        }
    }

    li {
        position: relative;
        display: block;

        &:hover > a,
            &.focus > a {
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: .25em .75em .3em;
        border: none;
        
        &:hover {
            //border: none;
            color: $color__interactive;
        }
    }

    .current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
    }
}



/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;    
}

@media screen and (min-width: $break__small) {
    .menu-toggle {
        //display: none;
    }
    .main-navigation ul {
        //display: block;
    }
}

