.main-navigation {
    clear: both;
    display: block;
    width: 100%;
    position: relative;
    font-size: .9em;
    z-index: 99;

    ul.menu {
        //position: absolute;
        //top: 80px;
        font-family: $font__headings;
        margin-top: 1px;
        background: white;
        width: 90vw;
        max-width: 320px;
        height: 100vh;
        padding: 0 0 80px;
        overflow-y: scroll;
        border-right: 1px solid #ccc;
        box-shadow: 4px 8px 8px 0 rgba(0, 0, 0, 0.32);
		
		@media screen and (min-width: $break__small) {
			width: 400px;
			max-width: none;
		}
        
        &::-webkit-scrollbar {
		    width: .75em;
		}
		 
		&::-webkit-scrollbar-track {
		    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		}
		 
		&::-webkit-scrollbar-thumb {
		  background-color: $color__interactive;
		  outline: 0;
		}
        
        // stick menu to the top
		&.fixed {
		    top: 0;
		    position: fixed;
		    z-index: 999;
		}
    }	

    ul {

        display: none; //hide menu on load
        list-style: disc;
        margin: 0;
        padding-left: 0;
		
        ul { //submenus
	        display: none;
			position: relative;
			top: 100%;
			z-index: 99999;
			background-color: $color__grisillo;		
			
			ul { //submenu 2
				top: 100%;
			}
			
			li {
				padding-left: 1.25em;
				position: relative;
				font-size: 13px;
				
				@media screen and (min-width: $break__small) {
					font-size: 14px;
				}
			 
				&:hover > ul,
				&.focus > ul {
				
				}
			}
			
			a {
			 //width: 200px;
			}
			
			:hover > a,
			.focus > a {
			}
			
			a:hover,
			a.focus {
			}
        }

        li:hover > ul,
            li.focus > ul {

        }
    }

    li {
        position: relative;
        display: block;

        &:hover > a,
            &.focus > a {
        }
        
        &.current-item {
	        a {
		        background: #f4f4f4;
		        font-weight: 500;
	        }
        }
    }

    a {
        display: block;
        text-decoration: none;
        padding: .5em;
        border: none;
        line-height: 1.4;
        border-bottom: 1px solid #e6e6e6;
        
        @media screen and (min-width: $break__small) {
        	padding: 1em;
        }
        
        &:hover {
            //border: none;
            color: $color__text-screen;
			opacity: .6;
        }
        
        
    }
	.current_page_item > a,
    .current-menu-item > a,
    .current_page_ancestor > a,
    .current-menu-ancestor > a {
	    color: $color__interactive;
    }
    .menu-item-has-children,
	.page_item_has_children {
		//min-width: 218px;
	}
	.menu-item-has-children > a,
	.page_item_has_children > a {
		padding-right: 2.5em;
	}
	a.home:before {
        content: "";
        border: 3px solid #FFFFFF;
		@include borde(50%);
		width: 40px; height: 40px;
		@extend %hide-text;
		@include vector-bg-with-fallback(home-icon);
		background-position: center center;
		background-color: $color__skin;
		background-size: 60%;
		padding: 0;
		display: inline-block;
		margin-right: .25em;
		margin-bottom: -.8em;

        
    }
	.modulo1 {
		border-left: 6px solid $color__skin;
	}
	.modulo4 {
		border-left: 6px solid $color__interactive;
	}
	.modulo2 {
		border-left: 6px solid #B4CF7E;
	}
	.modulo3 {
		border-left: 6px solid #7A6FB9;
	}
}




/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
    display: block;    
}

//boton para desplegar submenus
button.dropdown-toggle {
	position: absolute;
	right: .5em;
	top: .5em;
	height: 30px; width: 30px;
	padding: 0;
	background: inherit;
	border: none;
	color: $color__text-screen;
	text-align: center;
	@include borde(50%);
	font-weight: 700;
	font-size: 1em;
	line-height: 1;
	
	&:hover {
			background-color: $color__grisillo;
	}
	&:active {
		background-color: $color__interactive;
		color: white;
	}
}
/* Toggle small menu and children on */
.toggled-on ul,
.sub-menu.toggled-on {
	display: block;
}


@media screen and (min-width: $break__small) {
    .menu-toggle {
        //display: none;
    }
    .main-navigation ul {
        //display: block;
    }
}


// Footer menu
ul#footer-menu{
	list-style: none;
	margin: 2em 0;
	padding: 0;
	font-size: .8em;
	font-weight: 300;
	letter-spacing: 1px;
	li {
		display: inline-block;
		margin: 0 .25em;
		a {
			border: none;
		}
	}	
}
