.ebook-nav {
    height: auto;
    max-width: 780px;
    margin: 2em auto;
    //position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background: #eee;
    font-size: .8em;
    border: 2px solid $color__borde-recuadro;
    z-index: 98;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;	
    nav, 
    .navigation,
    .nav-links {
        margin: 0!important;
        padding: 0;
        height: 100%;
    }
    .nav-links {
	    display: flex;
	    align-items: stretch;
	    span.meta-nav {
	        display: block;
	        font-size: .6em;
	    }
	
	    .nav-previous, .nav-next {
	        width: 50%;
	        margin-top: -1px;
	        padding: 0;
	        border: 0;
	        @include borde(0);
			overflow: hidden;
			.post-title {
			    /* Required for text-overflow to do anything */
		        text-overflow: ellipsis;
		        white-space: nowrap;
		        overflow: hidden;
		        display: block;
		    }
	    }
	
	    .nav-previous {
	        margin-right: auto;
	        .arrow {
		        float: left;
		        margin-right: 4px;
	        }
	    }
	    .nav-next {
	        margin-left: auto;
	        .arrow {
		        float: right;
		        margin-left: 4px;
	        }
	    }
	    
	}
	
	a {
		border: none;
		display: block;
		padding: 1em .5em .5em; 
		height: 100%;
		outline: 0;
		&:hover {
			background: $color__interactive;
			color: white;
			transition: .2s all;
			border: none;
			opacity: 1;
		}
	}

}

@media screen and (min-width: $break__medium) {
    .ebook-nav {
        height: 70px;
        font-size: .9em;
        .nav-links {

            span.meta-nav {
                display: block;
                font-size: .7em;
            }

            .nav-previous, .nav-next {
                width: 48%;
                padding: 0;
                a{
				    padding: 1.25em 1em .5em;
			    }
            }
        }
    }
}


.comment-navigation,
.posts-navigation,
.post-navigation {
	display: block;
	width: 100%;
    
    .site-main & {
        margin: 0 0 1.5em;
        overflow: hidden;
    }
    
    .nav-links {
	    display: flex;
	    align-items: stretch;
	    justify-content: space-between;
    }
    
    .nav-previous,
    .nav-next {
	    background: white;
	    border: 1px solid $color__borde-recuadro;
	    padding: .5em 1em;
	    @include borde(4px);
	    .meta-nav {
		    display: block;
		    font-size: .7em;
	    }
	    width: 45%;
    }

    .nav-previous {
        float: left;
        
    }

    .nav-next {
        float: right;
        text-align: right;
        margin-left: auto;
    }
}

//pagination for the index pages
.pagination {
	
	font-family: $font__main;
	
	.nav-links {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	a,
	span {
		padding: .5em 1em;
		background: white;
	}
	
	a {
		text-decoration: none;
		border: none;
		
		&:focus,
		&:hover {
			color: white;
			background: $color__interactive;
			border: 0;
		}
	}
	
	.current {
		font-weight: 600;
		color: $color__interactive;
	}
	
	.prev .icon {
		margin-right: 1em;
	}
	
	.next .icon {
		margin-left: 1em;
	}
}

