.back {
	font-size: 80%;
	position: relative;
	line-height: 1;
	margin-left: 1.2em;
	&:before {
		font-family: 'FontAwesome';
		content: "\f060";
		margin-right: .25em;
		top: .2em;
	}
}

.single-caso {
	.content-area {
		
	}
	.back {
		font-size: 80%;
		position: relative;
		line-height: 1;
		&:before {
			font-family: 'FontAwesome';
			content: "\f060";
			margin-right: .25em;
			position: absolute;
			left: -1.2em;
			top: .2em;
		}
	}
	.entry-title {
		margin: 1em 0 .25em;
	}
	.case-content {
		
		.case__wrap {
			margin: 0;
					
			@media screen and (min-width: $break__medium) {
				margin: 0;
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				padding: 1em 0;
				border-top: 3px solid $color__interactive;
				border-bottom: 3px solid $color__interactive;
			}
			
			
			.gallery {
				width: auto;
				
				@media screen and (min-width: $break__medium) {
					width: 49%;
					
				}
			}
			.case-desc {
				width: 100%;
				margin: 0 auto;
				@media screen and (min-width: $break__medium) {
					padding: 0 1em;
					width: 49%;
					height: 100%;
				}
			}
			.case-trends {
				display: block;
				padding: .5em 1em;
				margin: 1em 0;
				background: $color__sombreado;
				border: none;
			}
			//more info
			.enlace {
				margin: 1em 0;
				
				a {
					display: block;
					padding: .5em 1em;
					background: $color__sombreado;
					border: none;
					&:after {
						font-family: 'FontAwesome';
						content: "\f14c";
						margin-left: .25em;
					}
					&:hover {
						border: none;
						opacity: .8;
					}
				}
			}
		}
		.comments-area {
			max-width: $size__ratio-large;
		}
	}
	
	/********** gallery **********/
	.gallery{
		
		
	}
	#photo-viewer {
		position: relative;
		height: 200px;
		overflow: hidden;
		margin: 1em 0 0;
		background: $color__borde-recuadro;
		@media screen and (min-width: $break__small) {
			height: 300px;
		}
		img {
			position: absolute;
			max-width: 100%;
		    height: auto;
		    max-height: 100%;
			top: 50%;
			left: 50%;
		}
	}
	
	#photo-viewer.is-loading:after {
		content: url('img/load.gif');
		position: absolute;
		top: 50%;
		left: 50%;
	}
	

	
	
	/********** THUMBNAILS **********/
	#thumbnails {
		margin: 0 0 2em;
		padding: .25em .5em;
		height: 80px;
		display: flex;
		align-items: center;
		background-color: $color__sombreado;
		//border-bottom: 1px solid $color__borde-recuadro;
		a {
			height: 100%;
			width: auto;
			margin: 2px;
			border: 2px solid $color__borde-recuadro;
			@include borde(2px);
			
			&:hover {
				//border: none;
			}
			
			img {
				height: 100%;
				width: auto;
			} 	  
		}
	}
	
	a.active {
		opacity: 0.3;
	}
	


}

