.single-multimedia,
.single-actividad {
    .site-content {
        margin-bottom: 60px;
        @media screen and (min-width: $break__medium) {
            //max-width: $size__ratio-large;
            max-width: $max__column-size;
        }
    }
    .entry-header {

    }
    .entry-title {
        //margin: .2em 0 .67em;
    }
    .entry-meta {
        font-size: 80%;
        margin: 0 -1em 1em;
        @media screen and (min-width: $break__small) {
            margin: 0 0 1em;
        }

        .auxiliar-box {

        }
    }
    .site-footer {
        display: none;
    }
}

/*----------------------  ACCORDION -----------------------*/
ul.accordion {
    margin: 1em 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;

    >li {
        list-style-type: none;
        padding: 0;
        margin: .5em 0;
	background: $color__sombreado;
	@include borde(5px);

    }

    button {
        width: 100%;
        background: none;
        text-align: left;
        border: none;
        padding: 1em;
        &:focus {
	    border: none;
	    outline: none;
        }
    }
}

.accordion-panel {
    display: none; //comment this line to show and test
    height: auto;
    min-height: 1px;
    overflow-x: hidden;
    border-top: 1px solid white;
    padding: 1em 1.5em;
    font-size: .9em;
    p, li {
		margin: .25em 0;
    }

    p:first-child {
		margin-top: 0;
    }
    p:last-child {
		margin-bottom: 0;
    }
	
    &.resumen {	    
		@include vector-bg-with-fallback(resumen);
		background-position: 2em 1em;
		background-size: 60px;
		padding-left: 100px;
		@media screen and (min-width: $break__small) {
		    background-size: 80px;
		    padding-left: 130px;
		}
    }

    &.audio {
		text-align: center;
		font-size: .8em;
		audio {
		    width: 80%;
		    margin: 0 auto;
		    display: block;
		}
		p.meta {
		    margin: 1em auto;
		    
		}
		p.descargar-audio {
		    a {
			border: none;
		    }
		    
		    margin: 1em auto;
		}
	}


}

.mmtools {
    display: none;

    @media screen and (min-width: $break__small) {
        display: block;
        padding: 0;
        margin: -10px 0 0;
        width: auto;
        position: absolute;
        top: 100px;
        right: 1em;
        z-index: 1;
    }

    .label{
        color: #999;
        font-size: .6em;
    }
    a{
        text-decoration: none;
    }
}
.zeno_font_resizer_container{
    display: inline-block;
    position: relative;
    margin: 0;

    .zeno_font_resizer{
        margin: 0;
        line-height: 1;
        span {
            display: flex;
            align-items: baseline;
        }
    }
    a{
        margin: 0 .25em;
        color: #777;
        border: none;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
            border: none;
        }
    }
}
//Formatos personalizados para recuadros en el contenido multimedia
.formato-actividad,
.formato-importante,
.formato-mirada,
.formato-ejercicio,
.formato-idea,
.formato-recuadro,
.formato-resumen,
.formato-nota,
.formato-busqueda,
.comentario-inicial{
    padding: 120px 2em 1.2em;
    margin: .5em -1em 2em;
    height: auto;
    min-height: 140px;
    background-position: center 20px;
    background-size: 80px;
    background-color: #F1EEE5;
    font-size: .89em;
    border-top: none;
    border-bottom: none;
    position: relative;

    @media screen and (min-width: $break__medium) {
        padding: 1em 2em 1.2em 140px;
        margin: 2em 0;
        font-size: .96em;
        line-height: 1.45;
        background-size: 80px;
        border: 3px solid $color__borde-recuadro; 
        background-color: #F1EEE5;
	background-position: 20px 20px;
	@include borde(4px);
    }
}
.formato-recuadro {
	padding: 1em 2em 1.2em;
}
.formato-actividad{
    @include vector-bg-with-fallback(actividad_virtual);  
}
.formato-mirada{
    @include vector-bg-with-fallback(mirada);
}
.formato-importante{
    @include vector-bg-with-fallback(importante);
}
.formato-ejercicio{
    @include vector-bg-with-fallback(ejercicio);

}
.formato-idea{
    @include vector-bg-with-fallback(idea);
}
.formato-busqueda{
    @include vector-bg-with-fallback(busqueda);
}
.formato-nota{
    @include vector-bg-with-fallback(nota);
}
.formato-resumen{
    @include vector-bg-with-fallback(resumen);
}

.comentario-inicial {
    @include vector-bg-with-fallback(avatar_comentario);  
    background-color: white;
    background-size: 100px;
    padding: 130px 2em 1.2em;
    @media screen and (min-width:$break__medium) {
		padding: 1em 2em 1.2em 140px;
    }
}
.comentario-h5p {
    @extend .comentario-inicial;
    padding: 130px 0 1.2em;
    @media screen and (min-width:$break__medium) {
		padding: 1em 2em 1.2em 140px;
    }
}

.fuente-apa {
    font-size: .9em;
    line-height: 1.7;
    margin-left:   2em;
    text-indent:  -2em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 2px dashed #f4f4f4;
    a {
	word-break: break-all;
	word-wrap: break-word;
	border: none;
	text-decoration: underline;
    }
}
@media print {
    .fuente-apa{
	margin-left:   .5in;
	text-indent:  -.5in;
	margin-top: 1em;
	margin-bottom: 1em;
    }
}

.wpc-button {
	width: 50px;
	height: 50px;
	@include borde(50%);
	border: none;
	position: fixed;
	right: 20px;
	bottom: 80px;
	
	background-image: url("img/check@2x.png")!important;
	background-image: none, url("img/check.svg")!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
	background-size: 26px 20px!important;
		
	.wpc-inactive, .wpc-active {
		display: none;
	}
	
	&:hover, &:active, &:focus {
		border: none;
		
	}
	&:hover {
		.wpc-inactive {
			display: inline-block;
			padding: 4px;
			width: auto;
			white-space: nowrap;
			background-color: black;
			font-size: 14px;
			line-height: 1;
			position: absolute;
			right: 55px;
		}
	}
	&.wpc-completed {
		opacity: .25;
	}
} 
