.single-multimedia {
    .site-content {
        margin-bottom: 60px;
        @media screen and (min-width: $break__medium) {
            //max-width: $size__ratio-large;
            max-width: $max__column-size;
        }
    }
    .entry-header {
        
    }
    .entry-meta {
        font-size: 80%;
        margin: 0 -1em 1em;
        @media screen and (min-width: $break__small) {
            margin: 0 0 1em;
        }

        .auxiliar-box {

        }
    }
    .site-footer {
        display: none;
    }
}

/*----------------------  ACCORDION -----------------------*/
ul.accordion {
    margin: 2em 0;
    overflow: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;

    >li {
        list-style-type: none;
        padding: .5em 1em;
        margin: .5em 0;
	    background: $color__sombreado;
	    @include borde(5px);
    }

    button {
        width: 100%;
        background: none;
        text-align: left;
        border: none;
        &:focus {
	        border: none;
        }
    }
}

.accordion-panel {
    display: none; //comment this line to show and test
    color: $color__borde-recuadro;
    height: auto;
    min-height: 1px;
    overflow-x: hidden;
    border-top: 1px solid white;
    padding-top: 1em;
    
    p, li {
	    margin: .25em 0;
    }
    
    p:first-child {
	    margin-top: 0;
    }
    p:last-child {
	    margin-bottom: 0;
    }
    
    &.resumen {	    
	   @include vector-bg-with-fallback(resumen);
	   background-position: 1em 1em;
	   background-size: 60px;
	   padding-left: 60px;
	   @media screen and (min-width: $break__small) {
		   background-size: 80px;
		   padding-left: 110px;
	   }
	}
	
	&.audio {
		text-align: center;
		audio {
			width: 80%;
		}
	}
    
    
}

.mmtools{
    display: none;
    
    @media screen and (min-width: $break__small) {
        display: block;
        padding: 0;
        margin: -10px 0 0;
        width: auto;
        position: absolute;
        top: 100px;
        right: 1em;
        z-index: 1;
    }

    .label{
        color: #999;
        font-size: .6em;
    }

    .zeno_font_resizer_container{
        display: inline-block;
        position: relative;
        margin: 0;

        .zeno_font_resizer{
            margin: 0;
            line-height: 1;
            span {
	            display: flex;
	            align-items: baseline;
            }
        }
        a{
            margin: 0 .25em;
            color: #777;
            border: none;
            font-weight: 700;
            &:hover{
                text-decoration: underline;
                border: none;
            }
        }
    }
    a{
        text-decoration: none;
    }
}

//Formatos personalizados para recuadros en el contenido multimedia
.formato-actividad,
.formato-importante,
.formato-mirada,
.formato-ejercicio,
.formato-idea {
    padding: 1em 1em 1.2em 100px;
    margin: 1em -1em 2em;
    color: $color__borde-recuadro;
    height: auto;
    background-position: 1.25em 1.75em;
    background-size: 60px;
    background-color: #F1EEE5;
    font-size: .9em;
    border-top: 2px solid $color__borde-recuadro;
    border-bottom: 2px solid $color__borde-recuadro;
    
    @media screen and (min-width: $break__medium) {
        padding-left: 140px;
        margin: 2em -2em;
        font-size: 1em;
        background-size: 80px;
        border: 3px solid $color__borde-recuadro; 
        background-color: #F1EEE5;
		box-shadow: 2px 3px 4px 0 rgba(0,0,0,0.32);
		@include borde(4px);
    }
}
.formato-actividad{
    @include vector-bg-with-fallback(actividad_virtual);  
}
.formato-mirada{
    @include vector-bg-with-fallback(mirada);
}
.formato-importante{
    @include vector-bg-with-fallback(importante);
}
.formato-ejercicio{
    @include vector-bg-with-fallback(ejercicio);
}
.formato-idea{
    @include vector-bg-with-fallback(idea);
}

