.sticky {
    display: block;
}

.archive .hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.cat-links {
	font-size: .55em;
	letter-spacing: 1px;
	font-weight: 200;
	text-transform: uppercase;
    a {
		margin: 0 2px;
    }
}


//Exitómetro - Página

.exitometro {
	font-family: $font__headings;
	font-weight: 300;
	padding-bottom: 1em;
	border-bottom: 2px solid #979797;
	
	.estudiante {
		height: 64px;
		@include flex-container;
		justify-content: flex-start;
		align-items: center;
		.avatar {
			@include borde(50%);
			margin-right: 1em;

		}
		.name {
			
		}
	}
	.datos {
		@include flex-container;
		justify-content: flex-end;
		align-items: center;
		i {
			
		}
		.graph {
			float: right;
			margin-left: 1em;
			.wpc-numbers {
				font-weight: 300;
			}
		}
	}
	
	@media screen and (min-width: $break__small) {
		@include flex-container;
		justify-content: space-between;
		align-items: center;
		.estudiante {
			width: 48%;
		}
		.datos {
			width: 48%;
			
		}
	}
	
}
