.sticky {
    display: block;
}

.hentry {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.cat-links {
	font-size: .8em;
}


//actividad
.module {
	list-style-type: none;
	padding: .5em 1em;
	margin: .5em 0;
	background: #F1EEE5;
	border-radius: 5px; 
	
}
body.single-actividad {
	.entry-header {
		border-bottom: 3px solid $color__borde-recuadro;
	}
}
